<h1>Contents</h1>
<ul class="top-level">
  <li><a href="#client-definition">Client definition</a></li>
  <li><a href="#design-rules">Design rules</a></li>
  <li>
    <a href="#necessary-features-to-implement">Necessary features to implement</a>
    <ul>
      <li><a href="#resource-tree">Resource tree</a></li>
      <li><a href="#inputoutput-parameters">Input/output parameters</a></li>
      <li><a href="#authentication">Authentication</a></li>
      <li><a href="#object-like-access">Object-like access</a></li>
    </ul>
  </li>
  <li>
    <a href="#supplemental-features">Supplemental features</a>
    <ul>
      <li><a href="#client-sde-validations">Client-side validations</a></li>
    </ul>
  </li>
</ul>
