<h1>Contents</h1>
<ul class="top-level">
  <li><a href="#envelope">Envelope</a></li>
  <li><a href="#all">OPTIONS /</a></li>
  <li><a href="#versions">OPTIONS /?describe=versions</a></li>
  <li><a href="#default">OPTIONS /?describe=default</a></li>
</ul>
