<h1>Contents</h1>
<ul class="top-level">
  <li><a href="#protocol-definition">Protocol definition</a></li>
  <li><a href="#self-description">Self-description</a></li>
  <li><a href="#envelope">Envelope</a></li>
  <li>
    <a href="#description-format">Description format</a>
    <ul>
      <li><a href="#version">Version</a></li>
      <li>
        <a href="#Authentication">Authentication</a>
        <ul>
          <li><a href="#http-basic-authentication">HTTP basic authentication</a></li>
          <li><a href="#token-authentication">Token authentication</a></li>
        </ul>
      </li>
      <li><a href="#resources">Resources</a></li>
      <li>
        <a href="#actions">Actions</a>
        <ul>
          <li><a href="#layouts">Layouts</a></li>
          <li><a href="#namespace">Namespace</a></li>
        </ul>
      </li>
      <li>
        <a href="#parameters">Parameters</a>
        <ul>
          <li><a href="#data-types">Data types</a></li>
          <li><a href="#resource-associations">Resource associations</a></li>
        </ul>
      </li>
      <li><a href="#examples">Examples</a></li>
      <li><a href="#list-api-versions">List API versions</a></li>
      <li><a href="#describe-default-version">Describe default version</a></li>
      <li><a href="#describe-the-whole-api">Describe the whole API</a></li>
    </ul>
  </li>
  <li><a href="#authorization">Authorization</a></li>
  <li><a href="#io">Input/output formats</a></li>
  <li><a href="#request">Request</a></li>
  <li><a href="#response">Response</a></li>
</ul>
